.custom-dropdown .dropdown-menu {
  width: 100vh; /* Full width of the parent container */
  margin-top: 0.5rem; /* Remove default margin */
  border-radius: 0; /* Optional: remove border radius for flush edges */
  border-top: 0;
}
.tooltip-custom .tooltip-inner {
  cursor: pointer;
  background-color: #999999;
  padding: 10px;
}
.tooltip-custom .tooltip-arrow {
  display: none;
}
