body {
  font-family: "Noto Sans", sans-serif;
  font-weight: 500;
}

.custom-offcanvas {
  width: 20rem !important;
}
.custom-dropdown .dropdown-menu {
  width: 100vh;
  margin-top: 0.5rem;
  border-radius: 0;
  border-top: 0;
}
.tooltip-custom .tooltip-inner {
  cursor: pointer;
  background-color: #999999;
  padding: 10px;
}
.tooltip-custom .tooltip-arrow {
  display: none;
}
